Repository atomicpages/docusaurus-plugin-react-docgen-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: support more than one duplicate
  src/index.ts
Due: prettier --write, eslint --fix

feat: move to tsup for transpiling to support ESM
  .eslintrc
  .github/workflows/on_push.yml
  .lintstagedrc
  .nvmrc
  .vscode/settings.json
  README.md
  package.json
  pnpm-lock.yaml
  scripts/files.sh
  src/hooks/index.ts
  src/hooks/useDynamicImport.ts
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

ci: add push workflow
  .github/workflows/release.yml
Due: prettier --write

feat: move to tsup for transpiling to support ESM (#22)
  .eslintrc
  .github/workflows/release.yml
  .lintstagedrc
  .nvmrc
  .vscode/settings.json
  README.md
  package.json
  pnpm-lock.yaml
  scripts/files.sh
  src/hooks/index.ts
  src/hooks/useDynamicImport.ts
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  b3fd44c1e7fb1b2ccb22c7375f4bab2b731cf4f5
Due: none

chore: ignore main on_push
  .github/workflows/on_push.yml
Due: prettier --write

fix: ensure duplicate components are written to unique files
  src/index.ts
Due: prettier --write, eslint --fix

fix: ensure duplicate components are written to unique files (#23)
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  f46caadf7c8baaea7c095a9a24294fe549b706f1
Due: none

feat: add ignore option and simplify passing sources to glob
  README.md
  package.json
  pnpm-lock.yaml
  src/index.ts
Due: prettier --write, eslint --fix

ci: move to node 22 for actions
  .github/workflows/on_push.yml
  .github/workflows/release.yml
Due: prettier --write

chore: husky cleanup
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: setup wfd
  .github/workflows/release.yml
Due: prettier --write

chore(release): publish v1.3.0
  package.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx,js,json}) or (any of: *.{md,yml,yaml})
  eslint --fix: any of: *.{ts,tsx,js,json}
